<%- include("../shared/header"); %>


    <div class="app-page-title">

        <div class="page-title-wrapper">

            <div class="page-title-heading">

                <!-- <div class="page-title-icon">

                    <i class=" fas fa-sort-amount-up icon-gradient bg-mean-fruit">

                    </i>

                </div> -->

                <div>
                    <b> Program-Performance</b>

                </div>

            </div>



        </div>

    </div>



    <div class="row">

        <div class="col-md-12 col-lg-12 mx-auto">

            <div class="mb-3 ">

                <div class="card">

                    <div class="card-header-tab card-header-tab-animation card-header">

                        <div class="row">

                            <div class=" col-lg-8 col-md-8  col-12">

                                <h5><b>SELECT REPORT TYPE</b></h5>

                            </div>

                            <div class="col-lg-4 col-lg-4 col-12 text-right">

                                <button id="btnExport" class="btn  btn-outline-alternate custom-button  mr-3"><i
                                        class="metismenu-icon fas fa-arrow-alt-circle-down mr-2"></i>Download</button>

                                <button class="btn-shadow  btn btn-primary custom-btn  btn-lg" data-toggle="collapse"
                                    data-target="#demo"><i class='fas fa-filter mr-2'></i>Filter</button>



                            </div>

                            <div class="mt-3 px-xl-2 col-12">
                                <div class="dis-grid">

                                    <a class="mt-2" href="./kyc">

                                        <img src="./images/on.png" alt="">
                                        DSR Kyc

                                    </a>

                                    <a class="mt-2" href="./edit-kyc-data">

                                        <img src="./images/off.png" alt="">

                                        DSR EDIT KYC

                                    </a>
                                    <a class="mt-2" href="./retailer">
                                        <img src="./images/off.png" alt="">
                                        RETAILER KYC
                                    </a>
                                    <!-- <a class="mt-2" href="./retailer-edit-kyc">
                                        <img src="./images/off.png" alt="">
                                        RETAILER EDIT KYC
                                    </a> -->
                                    <a class="mt-2" href="./distributor">
                                        <img src="./images/off.png" alt="">
                                        DISTRIBUTOR KYC
                                    </a>
                                    <a class="mt-2" href="./dsr_attendance">
                                        <img src="./images/off.png" alt="">
                                        DSR ATTENDANCE
                                    </a>

                                    <a class="mt-2" href="./payout">
                                        <img src="./images/off.png" alt="">
                                        DSR PAYOUT
                                    </a>
                                    <a class="mt-2" href="./kyc-history">
                                        <img src="./images/off.png" alt="">
                                        DSR KYC History</a>
                                    <a class="mt-2" href="./retailer-history">
                                        <img src="./images/off.png" alt="">
                                        RETAILER KYC History
                                    </a>
                                    <a class="mt-2" href="./master-data">

                                        <img src="./images/off.png" alt="">

                                        MASTER DATA

                                    </a>

                                    <a class="mt-2" href="./kyc-status">

                                        <img src="./images/off.png" alt="">

                                        KYC STATUS

                                    </a>

                                    <!-- <a class="mt-2" href="./awsm-updation">

                                        <img src="./images/off.png" alt="">

                                        AWSM UPDATION

                                    </a> -->

                                </div>

                            </div>

                        </div>



                    </div>

                    <div class="card-body">

                        <div id="demo" class="collapse">

                            <form action="./kyc">

                                <div class="row">

                                    <div class="col-2">

                                        <label for="Mobile" class="mr-sm-2">Mobile Number</label>

                                        <input type="tel" maxlength="10" class="form-control" id="mobile_no"
                                            placeholder="Mobile" name="Mobile" value="<%=QueryData.Mobile %>">

                                    </div>

                                    <div class="col-2">

                                        <label for="salesman_id" class="mr-sm-2">DSR ID</label>

                                        <input type="text" class="form-control" id="awsm_code" placeholder="dsr_id"
                                            name="salesman_id" value="<%=QueryData.salesman_id %>">

                                    </div>

                                    <div class="col-2">

                                        <label for="salesman_name" class="mr-sm-2">DSR NAME</label>

                                        <input type="text" class="form-control" id="awsm_name" placeholder="dsr_name"
                                            name="salesman_name" value="<%=QueryData.salesman_name %>">

                                    </div>

                                    <div class="col-2">

                                        <div class="ms-auto">

                                            <label for="salesman_type">SELECT DSR TYPE</label>

                                            <select name="salesman_type" class="form-control" id="salesman_type"
                                                placeholder="salesman_type" value="<%=QueryData.salesman_type %>">

                                                <option value=""> dsr type </option>
                                                <option value="PRE_SELLER" <%=QueryData.salesman_type==='PRE_SELLER'
                                                    ? 'selected' : '' %>>PRE_SELLER</option>
                                                <option value="ISR" <%=QueryData.salesman_type==='ISR' ? 'selected' : ''
                                                    %>>ISR</option>
                                                <option value="PROMOTER" <%=QueryData.salesman_type==='PROMOTER'
                                                    ? 'selected' : '' %>>PROMOTER</option>>

                                                <option value="MERCHANDISER" <%=QueryData.salesman_type==='MERCHANDISER'
                                                    ? 'selected' : '' %>>MERCHANDISER</option>>
                                            </select>

                                        </div>

                                    </div>

                                    <div class="col-2">

                                        <label for="AW-ID" class="mr-sm-2">Distributor ID</label>

                                        <input type="text" class="form-control" id="distributorcode"
                                            placeholder="distributor_id" name="distributorcode"
                                            value="<%=QueryData.distributorcode %>">

                                    </div>

                                    <div class="col-2">
                                        <label for="AW-NAME" class="mr-sm-2">Distributor NAME</label>
                                        <input type="text" class="form-control" id="name" placeholder="distributor_name"
                                            name="name" value="<%=QueryData.name %>">
                                    </div>



                                    <div class="col-2 mt-2">

                                        <label for="ASE-CODE" class="mr-sm-2">SO CODE</label>

                                        <input type="text" class="form-control" id="ase_code" placeholder="so_code"
                                            name="ase_code" value="<%=QueryData.ase_code %>">

                                    </div>

                                    <div class="col-2 mt-2">

                                        <label for="ASE-NAME" class="mr-sm-2">SO NAME</label>

                                        <input type="text" class="form-control" id="ase_name" placeholder="so_name"
                                            name="ase_name" value="<%=QueryData.ase_name %>">

                                    </div>

                                    <div class="col-2 mt-2">

                                        <label for="FROM" class="mr-sm-2">FROM</label>

                                        <input type="date" class="form-control" id="fromDate" placeholder="fromDate"
                                            name="fromDate" value="<%=QueryData.fromDate %>">
                                    </div>

                                    <div class="col-2 mt-2">

                                        <label for="TO" class="mr-sm-2">TO</label>

                                        <input type="date" class="form-control" id="toDate" placeholder="toDate"
                                            name="toDate" value="<%=QueryData.toDate %>">

                                    </div>

                                    <div class="col-2 mt-2">

                                        <div class="ms-auto">

                                            <label for="State">State </label>

                                            <select name="state" class="form-control" id="awsm_state"
                                                value="<%=QueryData.state %>">

                                                <option value="">Select State</option>

                                                <option value="Andra Pradesh" <%=QueryData.state==='Andra Pradesh'
                                                    ? 'selected' : '' %>>Andra Pradesh</option>

                                                <option value="Arunachal Pradesh"
                                                    <%=QueryData.state==='Arunachal Pradesh' ? 'selected' : '' %>
                                                    >Arunachal Pradesh

                                                </option>

                                                <option value="Assam" <%=QueryData.state==='Assam' ? 'selected' : '' %>
                                                    >Assam</option>

                                                <option value="Bihar" <%=QueryData.state==='Bihar' ? 'selected' : '' %>
                                                    >Bihar</option>

                                                <option value="Chhattisgarh" <%=QueryData.state==='Chhattisgarh'
                                                    ? 'selected' : '' %>>Chhattisgarh</option>

                                                <option value="Goa" <%=QueryData.state==='Goa' ? 'selected' : '' %>>Goa
                                                </option>

                                                <option value="Gujarat" <%=QueryData.state==='Gujarat' ? 'selected' : ''
                                                    %>>Gujarat</option>

                                                <option value="Haryana" <%=QueryData.state==='Haryana' ? 'selected' : ''
                                                    %>>Haryana</option>

                                                <option value="Himachal Pradesh" <%=QueryData.state==='Himachal Pradesh'
                                                    ? 'selected' : '' %>>Himachal Pradesh

                                                </option>

                                                <option value="Jammu and Kashmir"
                                                    <%=QueryData.state==='Jammu and Kashmir' ? 'selected' : '' %>>Jammu
                                                    and Kashmir

                                                </option>

                                                <option value="Jharkhand" <%=QueryData.state==='Jharkhand' ? 'selected'
                                                    : '' %>>Jharkhand</option>

                                                <option value="Karnataka" <%=QueryData.state==='Karnataka' ? 'selected'
                                                    : '' %>>Karnataka</option>

                                                <option value="Kerala" <%=QueryData.state==='Kerala' ? 'selected' : ''
                                                    %>>Kerala</option>

                                                <option value="Madya Pradesh" <%=QueryData.state==='Madya Pradesh'
                                                    ? 'selected' : '' %>>Madhya Pradesh</option>

                                                <option value="Maharashtra" <%=QueryData.state==='Maharashtra'
                                                    ? 'selected' : '' %>>Maharashtra</option>

                                                <option value="Manipur" <%=QueryData.state==='Manipur' ? 'selected' : ''
                                                    %>>Manipur</option>

                                                <option value="Meghalaya" <%=QueryData.state==='Meghalaya' ? 'selected'
                                                    : '' %>>Meghalaya</option>

                                                <option value="Mizoram" <%=QueryData.state==='Mizoram' ? 'selected' : ''
                                                    %>>Mizoram</option>

                                                <option value="Nagaland" <%=QueryData.state==='Nagaland' ? 'selected'
                                                    : '' %>>Nagaland</option>

                                                <option value="Orissa" <%=QueryData.state==='Orissa' ? 'selected' : ''
                                                    %>>Orissa</option>

                                                <option value="Punjab" <%=QueryData.state==='Punjab' ? 'selected' : ''
                                                    %>>Punjab</option>

                                                <option value="Rajasthan" <%=QueryData.state==='Rajasthan' ? 'selected'
                                                    : '' %>>Rajasthan</option>

                                                <option value="Sikkim" <%=QueryData.state==='Sikkim' ? 'selected' : ''
                                                    %>>Sikkim</option>

                                                <option value="Tamil Nadu" <%=QueryData.state==='Tamil Nadu'
                                                    ? 'selected' : '' %>>Tamil Nadu</option>

                                                <option value="Telangana" <%=QueryData.state==='Telangana' ? 'selected'
                                                    : '' %>>Telangana</option>

                                                <option value="Tripura" <%=QueryData.state==='Tripura' ? 'selected' : ''
                                                    %>>Tripura</option>

                                                <option value="Uttaranchal" <%=QueryData.state==='Uttaranchal'
                                                    ? 'selected' : '' %>>Uttaranchal</option>

                                                <option value="Uttar Pradesh" <%=QueryData.state==='Uttar Pradesh'
                                                    ? 'selected' : '' %>>Uttar Pradesh</option>

                                                <option value="West Bengal" <%=QueryData.state==='West Bengal'
                                                    ? 'selected' : '' %>>West Bengal</option>

                                                <option value="UNION Territories"
                                                    <%=QueryData.state==='UNION Territories' ? 'selected' : '' %>>UNION
                                                    Territories

                                                </option>

                                                <option value="Andaman and Nicobar Islands"
                                                    <%=QueryData.state==='Andaman and Nicobar Islands' ? 'selected' : ''
                                                    %>>Andaman and

                                                    Nicobar Islands</option>

                                                <option value="Chandigarh" <%=QueryData.state==='Chandigarh'
                                                    ? 'selected' : '' %>>Chandigarh</option>

                                                <option value="Dadar and Nagar Haveli"
                                                    <%=QueryData.state==='Dadar and Nagar Haveli' ? 'selected' : '' %>
                                                    >Dadar and Nagar

                                                    Haveli</option>

                                                <option value="Daman and Diu" <%=QueryData.state==='Daman and Diu'
                                                    ? 'selected' : '' %>>Daman and Diu</option>

                                                <option value="Delhi" <%=QueryData.state==='Delhi' ? 'selected' : '' %>
                                                    >Delhi</option>

                                                <option value="Lakshadeep" <%=QueryData.state==='Lakshadeep'
                                                    ? 'selected' : '' %>>Lakshadeep</option>

                                                <option value="Pondicherry" <%=QueryData.state==='Pondicherry'
                                                    ? 'selected' : '' %>>Pondicherry</option>

                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-2 mt-2">

                                        <div class="ms-auto">

                                            <label for="city">City </label>

                                            <select name="city" class="form-control" id="awsm_city">
                                                <option value="">Select City</option>
                                                <% awsmCity.forEach((city)=> { %>
                                                    <option value="<%= city.awsm_city %>"
                                                        <%=QueryData.city===city.awsm_city ? 'selected' : '' %>
                                                        ><%= city.awsm_city %>
                                                    </option>
                                                    <% }) %>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                                <div class="text-right mb-3">
                                    <!-- <a href="./kyc"
                                        class="btn  btn-outline-alternate custom-button  reset-anchor mr-3 mt-3">Reset</a> -->
                                    <button type="reset"
                                        class="btn  btn-outline-alternate custom-button  reset-anchor mr-3 mt-3">Reset</button>
                                    <button type="submit"
                                        class="btn-shadow  btn btn-primary custom-btn  btn-lg mt-3">Apply</button>

                                </div>

                            </form>

                        </div>



                        <div class="table table-striped table-bordered table-responsive dataTable no-footer">

                            <div class="height-tabel">

                                <div class="table-header-new overflow"
                                    style="width: 160px !important;top: 200px;bottom: 0;right: 0;left: 20px;">

                                    <ul class="table-ul">
                                        <li style="width: 162px;padding:17px 16px 16px 17px;"
                                            class="header-contents-new"> CREATE DATE</li>
                                        <li style="padding: 17px 20px 20px 17px;width: 162px;"
                                            class="header-contents-new">KYC TYPE</li>
                                        <li style="padding: 17px 20px 20px 17px;width: 162px;"
                                            class="header-contents-new">SO EMAIL ID</li>
                                        <li style="width: 162px;padding-left: 18px;padding: 17px 16px 16px 17px;;"
                                            class="header-contents-new">SO CODE</li>
                                        <li style="width: 162px;padding:17px 16px 16px 17px;"
                                            class="header-contents-new">SO NAME</li>
                                        <li style="padding: 17px 16px 16px 17px;width: 162px;"
                                            class="header-contents-new">DSR ID</li>
                                        <li style="padding: 17px 20px 20px 17px;width: 162px;"
                                            class="header-contents-new">DSR NAME</li>
                                        <li style="padding: 17px 20px 17px 17px;width: 162px;"
                                            class="header-contents-new">DSR EMAIL</li>
                                        <li style="padding: 17px 20px 17px 17px;width: 162px;"
                                            class="header-contents-new">DSR TYPE</li>
                                        <li style="width: 162px;padding: 17px 20px 20px 17px;"
                                            class="header-contents-new">Distributor ID</li>
                                        <li style="width: 162px;padding: 17px 18px 18px 17px;"
                                            class="header-contents-new">Distributor NAME</li>


                                        <li style="width: 162px;padding: 17px 18px 18px 17px;"
                                            class="header-contents-new">BENEFICIARY NAME</li>
                                        <li style="width: 162px;padding: 17px 18px 18px 17px;"
                                            class="header-contents-new">STATE NAME</li>
                                        <li style="width: 162px;padding: 17px 18px 18px 17px;"
                                            class="header-contents-new">CITY NAME</li>
                                        <li style="width: 162px;padding: 17px 18px 18px 17px;"
                                            class="header-contents-new">ADDRESS</li>
                                        <li style="width: 162px;padding: 17px 28px 28px 17px;"
                                            class="header-contents-new">DSR PHOTO</li>
                                        <li style="width: 162px;padding: 17px 28px 28px 17px;"
                                            class="header-contents-new">PAN CARD</li>
                                        <li style="width: 162px;padding: 17px 28px 20px 17px;"
                                            class="header-contents-new">PAN CARD NO.</li>


                                        <li style="padding: 17px 20px 20px 17px;width: 162px;"
                                            class="header-contents-new">BANK A/C NO.</li>
                                        <li style="width: 162px;padding: 17px 20px 17px 17px;"
                                            class="header-contents-new">IFSC CODE</li>
                                        <li style="width: 162px;padding: 17px 28px 28px 17px;"
                                            class="header-contents-new">CHEQUE IMAGE</li>
                                        <li style="width: 162px;padding: 17px 16px 16px 17px;"
                                            class="header-contents-new">BANK NAME</li>
                                        <li style="width: 162px;padding: 17px 28px 28px 17px;"
                                            class="header-contents-new">PHOTO ID IMAGE</li>
                                        <li style="padding: 17px 20px 20px 17px;width: 162px;"
                                            class="header-contents-new">MOBILE NO</li>
                                        <li style="padding: 17px 18px 18px 17px;width: 162px;"
                                            class="header-contents-new">GENDER</li>
                                        <li style="padding: 17px 18px 18px 17px;width: 162px;"
                                            class="header-contents-new">DOB</li>


                                        <li style="padding: 17px 6px 13px 17px;width: 162px; font-size: 10px;"
                                            class="header-contents-new">VALIDATION CALLING ATTEMPT</li>
                                        <li style="padding: 17px 8px 16px 17px;width: 162px; font-size: 10px;"
                                            class="header-contents-new">VALIDATION CALLING STATUS</li>
                                        <li style="padding: 31px 10px 25px 17px; width: 162px;"
                                            class="header-contents-new">VALIDATION CALLING REMARK</li>


                                        <li style="padding: 17px 20px 17px 17px; width: 162px;"
                                            class="header-contents-new">CHANNEL TYPE</li>


                                        <li style="padding:27px 20px 22px 17px;width: 162px;"
                                            class="header-contents-new">KYC STATUS</li>
                                        <li style="padding: 31px 19px 31px 17px; width: 162px; "
                                            class="header-contents-new">KYC REJECTION REASON</li>

                                        <li style="padding: 17px 17px 17px 17px; width: 162px;"
                                            class="header-contents-new">Date of Joining</li>
                                        <li style="padding: 17px 24px 18px 17px; width: 162px;"
                                            class="header-contents-new">REMARKS</li>
                                    </ul>





                                </div>

                                <% kycData.forEach(function(kyc) { %>
                                    <div class="table-new "
                                        style="width: 180px !important;top: 200px;bottom: 0;right: 0;left: 20px;">
                                        <form action="./kyc/update-status?kyc_id=<%=kyc.kyc_id %>" method="post">
                                            <ul class="table-tabel">
                                                <!-- <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="CreateDate"
                                                        class="form-control"
                                                        value="<%= kyc.created_on? kyc.created_on.toLocaleDateString('en-IN'): '' %>"
                                                        readonly="">
                                                </li> -->
                                                <li style="width: 162px; padding: 7px 16px 7px 16px"
                                                    class="header-contents-new">
                                                    <input type="text" name="CreateDate" class="form-control"
                                                        value="<%= kyc.created_on ? kyc.created_on.toLocaleDateString('en-IN') : '' %>"
                                                        readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="kyc_type"
                                                        class="form-control" value="<%= kyc.kyc_type %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name=""
                                                        class="form-control" value="<%= kyc.ase_email %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name=""
                                                        class="form-control" value="<%= kyc.ase_employee_code %>"
                                                        readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name=""
                                                        class="form-control" value="<%= kyc.ase_name %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="awsm_code"
                                                        class="form-control" value="<%= kyc.awsm_code %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="awsm_name"
                                                        class="form-control" value="<%= kyc.awsm_name %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text"
                                                        name="distributorcode" class="form-control"
                                                        value="<%= kyc.awEmail %>" readonly="">
                                                </li>

                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="SellerType"
                                                        class="form-control" value="<%= kyc.SellerType %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text"
                                                        name="distributorcode" class="form-control"
                                                        value="<%= kyc.distributorcode %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="name"
                                                        class="form-control" value="<%= kyc.name %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text"
                                                        name="beneficiary_name" class="form-control"
                                                        value="<%= kyc.beneficiary_name %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="awsm_state"
                                                        class="form-control" value="<%= kyc.awsm_state %>" readonly="">
                                                </li>

                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name="awsm_city"
                                                        class="form-control" value="<%= kyc.awsm_city %>" readonly="">
                                                </li>

                                                <li style="width: 162px;padding: 7px 16px 9px 16px;"
                                                    class="header-contents-new"><input type="text" name="address"
                                                        class="form-control" value="<%= kyc.address %> " readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new ">
                                                    <a target="_blank">
                                                        <img width="100" height="50" src="<%= kyc.photo %>"
                                                            onclick="getImage(this);">
                                                    </a>
                                                    <input type="hidden" type="hidden" value="<%= kyc.photo %> "
                                                        name="photo">
                                                </li>

                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new ">
                                                    <a target="_blank">
                                                        <img width="100" height="50" src="<%= kyc.pancard_image %>"
                                                            onclick="getImage(this);">
                                                    </a>
                                                    <input type="hidden" type="hidden" value="<%= kyc.pancard_image %> "
                                                        name="pancard_image">
                                                </li>



                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text" name="pancard_no"
                                                        class="form-control" value="<%= kyc.pancard_no %>" readonly="">
                                                </li>





                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text"
                                                        name="bank_account_no" class="form-control"
                                                        value="<%= kyc.bank_account_no %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text" name="ifsc_code"
                                                        class="form-control" value="<%= kyc.ifsc_code %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new ">
                                                    <a target="_blank">
                                                        <img width="100" height="50" src="<%= kyc.bank_cheque %>"
                                                            onclick="getImage(this);">
                                                    </a>
                                                    <input type="hidden" type="hidden" value="<%= kyc.bank_cheque %> "
                                                        name="bank_cheque">
                                                </li>

                                                <li style="width: 162px;padding: 7px 16px 6px 16px"
                                                    class="header-contents-new "><input type="text" name="bank_name"
                                                        class="form-control" value="<%= kyc.bank_name %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new ">
                                                    <a target="_blank">
                                                        <img width="100" height="50" src="<%= kyc.photo_id %>"
                                                            onclick="getImage(this);">
                                                    </a>
                                                    <input type="hidden" type="hidden" value="<%= kyc.photo_id %> "
                                                        name="photo_id">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text" name="mobile_no"
                                                        class="form-control" value="<%= kyc.mobile_no %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text" name="gender"
                                                        class="form-control" value="<%= kyc.gender %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text" name="dob"
                                                        class="form-control"
                                                        value="<%= (kyc.dob)?kyc.dob.toLocaleDateString('en-IN'):'' %>"
                                                        readonly="">
                                                </li>
                                                <!-- <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new "><input type="text" name=""
                                                        class="form-control" value="APP" readonly="">
                                                </li> -->
                                                <li style="width: 162px;padding: 7px 16px 14px 16px"
                                                    class="header-contents-new">
                                                    <select name="calling_count" class="form-control">
                                                        <option value="">-Select-</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 18px 16px"
                                                    class="header-contents-new">
                                                    <select name="calling_status" class="form-control">
                                                        <option value="">-Select-</option>
                                                        <option value="Success">Success</option>
                                                        <option value="unsuccessfull">Unsuccessfull</option>
                                                        <option value="WIP">WIP</option>
                                                    </select>

                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 20px 16px"
                                                    class="header-contents-new">
                                                    <div class="select-multiple">
                                                        <select name="calling_remarks" id="validation_calling_remarks"
                                                            multiple="">
                                                            <option value="Ringing">Ringing</option>
                                                            <option value="Call Back">Call Back</option>
                                                            <option value="Number Busy">Number Busy</option>
                                                            <option value="Switched Off">Switched Off
                                                            </option>
                                                            <option value="Invalid Number">Invalid Number
                                                            </option>
                                                            <option value="Wrong Number">Wrong Number
                                                            </option>
                                                            <option value="Out Of Service">Out Of Service
                                                            </option>
                                                            <option value="Refused">Refused</option>
                                                            <option value="Not Reachable">Not Reachable
                                                            </option>
                                                            <option value="Language Barrier">Language
                                                                Barrier
                                                            </option>
                                                            <option value="A/C Closed">A/C Closed</option>
                                                            <option value="Bank Details Mismatch">Bank
                                                                Details
                                                                Mismatch</option>

                                                        </select>
                                                    </div>
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new"><input type="text" name=""
                                                        class="form-control" value="<%= kyc.channel %>" readonly="">
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 1kyc_status6px"
                                                    class="header-contents-new"> <select name="kyc_status" required
                                                        class="form-control">
                                                        <option value="">-Select-</option>
                                                        <option value="SUCCESS">SUCCESS</option>
                                                        <option value="REJECTED">REJECTED</option>
                                                    </select>
                                                </li>
                                                <li style="width: 162px;padding: 7px 12px 24px 12px"
                                                    class="header-contents-new">
                                                    <div class="select-multiple">
                                                        <select name="kyc_rejection_reason" id="kyc_rejection_reason"
                                                            multiple="" style="width: 137px;">
                                                            <option value="Cheque Image not clear">
                                                                Cheque
                                                                Image
                                                                not clear</option>
                                                            <option value="Cheque Image Not Taken">
                                                                Cheque
                                                                Image
                                                                Not Taken</option>
                                                            <option value="Contact Details Not Captured">
                                                                Contact
                                                                Details Not Captured</option>
                                                            <option value="Validation Calling Not Success">
                                                                Validation
                                                                Calling Not Success</option>

                                                            <option value="Bank Details Not Attempted">
                                                                Bank
                                                                Details Not Attempted</option>
                                                            <option value="Bank Details Mismatch">Bank
                                                                Details
                                                                Mismatch</option>
                                                            <option value="Incorrect Bank Details Captured">
                                                                Incorrect
                                                                Bank Details Captured</option>
                                                            <option value="Duplicate Entry">Duplicate
                                                                Entry
                                                            </option>
                                                            <option value="Identity Proof Not Available">
                                                                Identity
                                                                Proof Not Available</option>
                                                            <option value="Identity Proof  Mismatch">
                                                                Identity
                                                                Proof Mismatch</option>

                                                        </select>
                                                    </div>
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new">
                                                    <input type="text" name="JoiningDate" class="form-control"
                                                        value="<%= kyc.JoiningDate ? new Date(kyc.JoiningDate).toLocaleDateString('en-IN') : '' %>"
                                                        readonly>
                                                </li>
                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new">
                                                    <input type="text" name="approved_comment" class="form-control"
                                                        value="<%= kyc.approved_comment %>">
                                                </li>

                                                <li style="width: 162px;padding: 7px 16px 7px 16px"
                                                    class="header-contents-new">
                                                    <button type="submit" class="form-control">Save</button>
                                                </li>
                                            </ul>
                                        </form>

                                    </div>
                                    <% }); %>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="modal" id="imageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-top " role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" onclick="modal_close()" data-bs-dismiss="modal"
                        fdprocessedid="n6zi5o"></button>
                </div>
                <div class="modal-body">
                    <img class="modal-content1" id="getImage-id" width="100px">
                </div>

            </div>
        </div>
    </div>

    <script>
        function getImage(data) {

            let image = data.src;
            let element = document.getElementById('getImage-id');
            element.setAttribute('src', image)
            let image_modal = document.getElementById('imageModal');

            image_modal.style.display = "block";


        }
        function modal_close() {
            let image_modal = document.getElementById('imageModal');
            image_modal.style.display = "none";
        }
    </script>

    <script>
        function fnExcelReport(file, mobile_no, awsm_code, awsm_name, salesman_type, distributorcode, name, ase_code, ase_name, fromDate, toDate, awsm_state, awsm_city) {

            fetch(`/kyc/export?mobile_no=${mobile_no}&awsm_code=${awsm_code}&awsm_name=${awsm_name}&salesman_type=${salesman_type}&distributorcode=${distributorcode}&name=${name}&ase_code=${ase_code}&ase_name=${ase_name}&fromDate=${fromDate}&toDate=${toDate}&awsm_state=${awsm_state}&awsm_city=${awsm_city}`)
                .then((res) => res.json())
                .then((data) => {
                    data.forEach((item) => {
                        item.dob = formatDate(item.dob);
                        item.created_on = formatDate(item.created_on);
                        item.update_old_modification_date = formatDate(item.update_old_modification_date);
                        item.insert_timestamp = formatDate(item.insert_timestamp);
                        item.update_timestamp = formatDate(item.update_timestamp);
                        item.bank_account_no = formatBankAccount(item.bank_account_no);
                    });

                    const csvContent = createCSV(data);

                    var element = document.createElement('a');
                    element.setAttribute('href', 'data:csv;charset=utf-8, ' + encodeURIComponent(csvContent));
                    element.setAttribute('download', file);

                    document.body.appendChild(element);

                    element.click();

                    document.body.removeChild(element);
                });
        }

        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        function formatBankAccount(accountNumber) {
            return accountNumber.match(/.{1,4}/g).join(' ');
        }

        function createCSV(data) {
            const headers = [
                "CREATE DATE",
                "KYC TYPE",
                "SO EMAIL ID",
                "SO CODE",
                "SO NAME",
                "DSR ID",
                "DSR NAME",
                "Distributor ID",
                "Distributor NAME",
                "BENEFICIARY NAME",
                "STATE NAME",
                "CITY NAME",
                "ADDRESS",
                "DSR PHOTO",
                "PAN CARD",
                "PAN CARD NO.",
                "BANK A/C NO.",
                "IFSC CODE",
                "CHEQUE IMAGE",
                "BANK NAME",
                "PHOTO ID IMAGE",
                "MOBILE NO",
                "GENDER",
                "DOB",
                "VALIDATION CALLING ATTEMPT",
                "VALIDATION CALLING STATUS",
                "VALIDATION CALLING REMARK",
                "CHANNEL TYPE",
                "KYC STATUS",
                "KYC REJECTION REASON",
                "REMARKS"
            ]

            const flattenData = data.map(item => ({
                "CREATE DATE": item.created_on,
                "KYC TYPE": item.kyc_type,
                "SO EMAIL ID": item.ase_email_id,
                "SO CODE": item.ase_employee_code,
                "SO NAME": item.ase_name,
                "DSR ID": item.awsm_code,
                "DSR NAME": item.awsm_name,
                "Distributor ID": item.distributorcode,
                "Distributor NAME": item.name,
                "BENEFICIARY NAME": item.beneficiary_name,
                "STATE NAME": item.awsm_state,
                "CITY NAME": item.awsm_city,
                "ADDRESS": item.address,
                "DSR PHOTO": item.photo,
                "PAN CARD": item.pancard_image,
                "PAN CARD NO.": item.pancard_no,
                "BANK A/C NO.": item.bank_account_no,
                "IFSC CODE": item.ifsc_code,
                "CHEQUE IMAGE": item.bank_cheque,
                "BANK NAME": item.bank_name,
                "PHOTO ID IMAGE": item.photo_id,
                "MOBILE NO": item.mobile_no,
                "GENDER": item.gender,
                "DOB": item.dob,
                "KYC METHOD": "APP",
                "VALIDATION CALLING ATTEMPT": item.calling_count,
                "VALIDATION CALLING STATUS": item.calling_status,
                "VALIDATION CALLING REMARK": item.calling_remarks,
                "CHANNEL TYPE": item.channel,
                "KYC STATUS": item.status,
                "KYC REJECTION REASON": item.kyc_rejection_reason,
                "REMARKS": item.wip_remakrs
            }));

            const replacer = (key, value) => (value === null ? "" : value);
            const csvContent = [headers.join(","), ...flattenData.map(row => headers.map(fieldName => JSON.stringify(row[fieldName], replacer)).join(","))].join("\r\n");
            return csvContent;

            // const replacer = (key, value) => value === null ? '' : value;
            // const header = Object.keys(data[0])
            // const csvContent = [
            //     header.join(','),
            //     ...data.map(row => header.map(fieldName => JSON.stringify(row[fieldName], replacer)).join(','))
            // ].join('\r\n');
            // return csvContent;
        }

        document.getElementById("btnExport")
            .addEventListener("click", function () {
                var filename = "kyc.csv";
                var mobile_no = document.getElementById("mobile_no").value;
                var awsm_code = document.getElementById("awsm_code").value;
                var awsm_name = document.getElementById("awsm_name").value;
                var salesman_type = document.getElementById("salesman_type").value;
                var distributorcode = document.getElementById("distributorcode").value;
                var name = document.getElementById("name").value;
                var ase_code = document.getElementById("ase_code").value;
                var ase_name = document.getElementById("ase_name").value;
                var fromDate = document.getElementById("fromDate").value;
                var toDate = document.getElementById("toDate").value;
                var awsm_state = document.getElementById("awsm_state").value;
                var awsm_city = document.getElementById("awsm_city").value;
                fnExcelReport(filename, mobile_no, awsm_code, awsm_name, salesman_type, distributorcode, name, ase_code, ase_name, fromDate, toDate, awsm_state, awsm_city);
            }, false);
    </script>

    <script>

        var modal = document.getElementById("imageModal");
        var modalImg = document.getElementById("modalImage");
        var img = document.getElementById("image");
        var img1 = document.getElementById("image1");
        var img2 = document.getElementById("image2");

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        img1.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        img2.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        var closeBtn = document.getElementsByClassName("close")[0];
        closeBtn.onclick = function () {
            modal.style.display = "none";
        }


        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>


    <%- include("../shared/footer"); %>